<div class="button-container">
  <button mat-icon-button tabindex="-1" (click)="previous()" class="tip" >
    <mat-icon>arrow_back_ios</mat-icon>
    <span class="tooltiptext">Previous</span>
  </button>
  <button mat-icon-button tabindex="-1" (click)="next()" class="tip">
    <mat-icon>arrow_forward_ios</mat-icon>
    <span class="tooltiptext">Next</span>
  </button>

  <div *ngIf="quiz" class="quiz-name">
    <p>{{ quiz.name }}</p>
  </div>

  <button mat-icon-button tabindex="-1"  (click)="close()" class="tip">
    <mat-icon>close</mat-icon>
    <span class="tooltiptext">Cloturer le quiz</span>
  </button>
</div>

<div *ngIf="question">
  <div class="questionBody">
    <p>{{ question.body }}</p>
  </div>
</div>
<code-editor #editor [(ngModel)]="query" [readOnly]="isQuizFinished" [database]="DB"></code-editor>
<br>
<div>
  <input id="readonly" type="checkbox" [(ngModel)]="isQuizFinished" hidden>
</div>
<div style="display: none;">
  <textarea [(ngModel)]="query" cols="80" rows="5" style="width: 100%"></textarea>
</div>

<div>
  <button style="margin-right: 10px;"  (click)="send()" >Envoyer</button>
  <button style="margin-right: 10px;" *ngIf="!isQuizFinished" (click)="clear()">Effacer</button>
  <button style="margin-right: 10px;" *ngIf="!isTest && !isQuizFinished" (click)="showSolution()">Voir Solutions</button>
</div>
<br>

<div *ngIf="showAnswers && !isTest">
  <p>{{horodatage}}</p>
  <div [ngClass]="{'correct-answer': res === true, 'incorrect-answer': res === false}">
    <p [innerText]="answerMessage"></p>
  </div>
</div>
<br>
<div *ngIf="showRowsCount && !isTest" >
  <p>La réponse compte {{rowsCount}} lignes</p>
</div>


<div *ngIf="showAnswerTable && !isTest">
  <table>
    <thead>
      <tr>
        <th *ngFor="let columnName of columnNames">
          {{ columnName }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataRow of dataRows">
        <td *ngFor="let cell of dataRow">
          {{ cell }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div *ngIf="showSolutions && !isTest">
  <ng-container *ngFor="let solution of solutions; let i = index">
    <p>Solution {{ solution.order }}</p>
    <div class="solutionBody">
      <p [innerText]="solution.sql"></p>
    </div>
  </ng-container>
</div>

