<form mat-dialog-content id="frm" class="form" [formGroup]="frm" novalidate>
  <div class="form">
      <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput [formControl]="ctlName" required>
          <mat-error class="field-error" *ngIf="ctlName.hasError('required')">Required</mat-error>
          <mat-error class="field-error" *ngIf="ctlName.hasError('minlength')">Minimum length is
              {{ctlName.errors?.minlength?.requiredLength}}</mat-error>
          <mat-error class="field-error" *ngIf="ctlName.hasError('nameUsed')">Pseudo already in use
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput [formControl]="ctlDescription">
      </mat-form-field>

      <mat-card class="form-card">
          <mat-label>Type de quiz: </mat-label>
          <mat-radio-group [formControl]="ctlRadioGroup" required>
              <mat-radio-button value="trainning" >Trainning</mat-radio-button>
              <mat-radio-button value="test" >Test</mat-radio-button>
          </mat-radio-group>
      </mat-card>

      <mat-form-field>
        <mat-label>Base de données</mat-label>
        <mat-select [formControl]="ctlDataBase" required>
          <mat-option value="fournisseurs">fournisseurs</mat-option>
          <mat-option value="facebook">facebook</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle [formControl]="ctlPublished">
        publié
      </mat-slide-toggle>

      <button>
        <mat-icon>save</mat-icon>
      </button>
      <button>
        <mat-icon>delete_forever</mat-icon>
      </button>
  </div>
  <br>
  <h2>Questions</h2>
</form>
