<form mat-dialog-content id="frm" class="form" [formGroup]="frm" novalidate>
  <div class="form-row">
    <div class="form-column">
      <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput [formControl]="ctlName" required>
          <mat-error class="field-error" *ngIf="ctlName.hasError('required')">Required</mat-error>
          <mat-error class="field-error" *ngIf="ctlName.hasError('minlength')">Minimum length is
              {{ctlName.errors?.minlength?.requiredLength}}</mat-error>
          <mat-error class="field-error" *ngIf="ctlName.hasError('nameUsed')">Pseudo already in use
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput [formControl]="ctlDescription">
      </mat-form-field>

      <mat-card class="form-card">
          <mat-label>Type de quiz: </mat-label>
          <mat-radio-group [formControl]="ctlRadioGroup" required>
              <mat-radio-button value="trainning" >Trainning</mat-radio-button>
              <mat-radio-button value="test" >Test</mat-radio-button>
          </mat-radio-group>
      </mat-card>

    </div>

    <div class="form-column">
      <mat-form-field>
        <mat-label>Base de données</mat-label>
        <mat-select [formControl]="ctlDataBase" required>
          <mat-option value="fournisseurs">fournisseurs</mat-option>
          <mat-option value="facebook">facebook</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="publish-and-actions">
        <!-- Publié Toggle -->
        <mat-slide-toggle [formControl]="ctlPublished">publié</mat-slide-toggle>

        <!-- Actions Buttons -->
        <div class="form-actions">
          <button mat-icon-button matTooltip="Sauver">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Supprimer">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>

      </div>
      <mat-form-field *ngIf="isTest">
        <mat-label>Choisissez une période de validité</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" >
          <input matStartDate [formControl]="ctlStart"  placeholder="Start date">
          <input matEndDate [formControl]="ctlFinish" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>JJ/MM/AAAA – JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <!-- <p>Selected range: {{ctlStart.value | date:'dd/MM/yyyy' }} - {{ctlFinish.value | date:'dd/MM/yyyy' }}</p> -->
    </div>
  </div>
  <br>
  <h2>Questions</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let question of questions"
    (opened)="question.isOpen = true"
    (closed)="question.isOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ question.isOpen ? ('Question ' + question.order) : (question.order + '. ' + (question.body | truncate:90)) }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-icon-button matTooltip="Up">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Down">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Supprimer">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <p>Intitulé</p>
      <textarea cols="80" rows="5" style="width: 100%">{{ question.body}}</textarea>
      <p></p>
      <code-editor #editor [(ngModel)]="query" [database]="DB"></code-editor>
      <br>
      <div hidden>
        <input id="readonly" type="checkbox" >
      </div>
      <div style="display: none;">
        <textarea [(ngModel)]="query" cols="80" rows="5" style="width: 100%"></textarea>
      </div>
      <button mat-icon-button tabindex="-1" class="tip" matTooltip="Ajouter une solution">
        <mat-icon>add_box</mat-icon>
      </button>
    </mat-expansion-panel>
  </mat-accordion>



</form>
