<p>{{ isTest ? 'Test' : 'TP' }}</p>
<div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="dataBase" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Base de données </th>
        <td mat-cell *matCellDef="let row"> {{row.database?.name }} </td>
      </ng-container>
      <ng-container matColumnDef="startDate" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> date début </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="isTest"> {{row.start | date:'dd/MM/yyyy' }} </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> date fin </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="isTest"> {{row.finish | date:'dd/MM/yyyy' }} </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
        <td mat-cell *matCellDef="let row" > {{row.statusAsString}} </td>
      </ng-container>
      <ng-container matColumnDef="evaluation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluation </th>
        <td mat-cell *matCellDef="let row" >
          <ng-container> {{row.evaluation}} </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <!-- *ngIf="row.statusAsString === 'EnCours'" -->
          <button mat-icon-button tabindex="-1"   (click)="edit(row)" class="tip" matTooltip="Poursuivre">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button tabindex="-1" *ngIf="row.statusAsString === 'Fini'"  class="tip" matTooltip="Revoir">
            <mat-icon>class</mat-icon>
          </button>
          <button mat-icon-button tabindex="-1" *ngIf="row.statusAsString === 'PasCommence'"  class="tip" matTooltip="Commencer">
            <mat-icon>add_box</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 3, 5, 10, 25, 100]"></mat-paginator>
</div>
<br>
